#aside{
    min-height: 100vh;
    background:linear-gradient(rgba(27, 59, 42, 0.75), rgba(27, 59, 42, 0.75) ), url('./fondo.jpeg') no-repeat center center fixed;
    /* background-repeat: no-repeat; */
    background-size: cover;
    /* background-position: center center; */
    /* background-attachment: fixed; */
}